@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins';
}
h1 {
    color: black;
    font-size: 1.5rem!important;
}
strong {
    font-weight: 100!important;
}
.categ {
    width: 25%;
}
.categ a {
    display: block;
    text-align: center;
}
.tiki {
    display: flex;
    
}
.produtos {
    width: 75%;
}
.produtos a {
    color: black;
}
.produtos a:hover {
    opacity: 30%;
    text-decoration: none;
}
.produto-img {
    max-width: 300px;
}
.text-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.text-footer p {
text-align: center;
}